*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(0, 0, 0);
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    background-color: black;
    position: relative;
}

nav img{
    width: 400px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 110px;
    margin-top: 30px;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover{
    color: rgb(227, 211, 63);
}

/* Section */
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h2{
    text-align: center;
    font-size: 6rem;
    font-family: 'Times New Roman';
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.section p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman';
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.8;
}

video{
    width: 1270px;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* features */
#robotic-features{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 40px;
    transform: translateY(-288px);
    padding-right: 600px;
}

.robotic{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 500px;
    padding-left: 700px;
}

#medical-features{
    color: rgb(255, 255, 255);
    font-size: 25px;
    transform: translateY(-527px);
    padding-left: 600px;
    width: 100%;
    max-width: 600px;
}

.medical{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 500px;
    padding-left: 50px;
    transform: translateY(-210px);
}

#education-features{
    color: rgb(255, 255, 255);
    font-size: 25px;
    transform: translateY(-790px);
    padding-left: 40px;
    width: 100%;
    max-width: 600px;
}

.education{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 500px;
    height: 330px;
    padding-left: 700px;
    transform: translateY(-480px);
}

#people-features{
    color: rgb(255, 255, 255);
    font-size: 27px;
    transform: translateY(-660px);
    padding-left: 380px;
    width: 100%;
    max-width: 600px;
}

.container{
    display: flex;
    transform: translateY(-650px);
    justify-content: center;
}

.card{
    background: white;
    height: 420px;
    margin: 10px;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}

.img-1{
    background-image: url('img-1.jpg');
}

.img-2{
    background-image: url('img-2.jpg');
}

.img-3{
    background-image: url('img-3.jpg');
}

.img-4{
    background-image: url('img-4.jpg');
}

.img-5{
    background-image: url('img-5.jpg');
}

.img-6{
    background-image: url('img-6.jpg');
}

.card a{
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.card p{
    color: rgb(0, 0, 0);
}

.card:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}

#registration{
    color: rgb(255, 255, 255);
    padding: 6vw 6vw 6vw 8vw;
    font-size: 20px;
    height: 450px;
    transform: translateY(-350px);
    background-image: url("background-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.form{
    color: rgb(0, 0, 0);
}

#registration .form{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}

#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form .btn{
    margin-top: 20px;
}

#registration .form a.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff(255, 255, 255);
    background: #ce0000;
    transition: 0.3s ease;
}

#registration .form a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #ffffff;
}

#submit{
    color: rgb(255, 255, 255);
}

/* footer */

footer{
    padding: 8vw;
    background-color: #383434;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #ffffff;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: rgb(255, 0, 4);
}

footer .copyright{
    padding-right: 500px;
}

.harvard{
    height: 100px;
    padding-left: 400px;
    padding-top: 10px;
}

#about-container img{
    height: 600px;
    width: 610px;
    padding-top: 500px;
    padding-left: 30px;
}
.about-text{
    padding-left: 650px;
    transform: translateY(-600px);
}

.about-fe{
    padding-left: 650px;
    transform: translateY(-600px);
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.fe-text h5{
    font-size: 40px;
     color: #ce0000;
}

.content h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.content p{
    text-align: center;
    color: rgb(0, 0, 0);
}

.content h6{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
    color: #222f3e;
    margin: 0;
}

.content img{
    height: 300px;
    width: 230px;
    padding-top: 30px;
    margin: 0 auto;
    display: block;
}

.gallery{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    margin: 50px 0;
    background-color: #f2f2f2;
}

.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.available-1{
    background: #216162;
}

.available-2{
    background: #3b7e40;
}

.available-3{
    background: #ff9f43;
}

/* contact */
#contact{
    padding: 8vw;
    background-color: #fff;
}

#contact .getin{
    width: 350px;
}

#contact .getin h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p{
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin-details h3{
    color: rgb(0, 0, 0);
    line-height: 26px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}













